body{
    font-family: Roboto, sans-serif;
}

.navbar{
    background-color: #b47c27;
}

.carousel-item{
    height: 420px;
}

.carousel-item img {
    object-fit: cover;
    height: 70vh;
}
.carousel-caption {
    background: rgba(0,0,0,0.4);
    border-radius: 8px;
    padding: 15px;
}